/* Philip Weir - pricing.html creator - 2 December 2025 */
.title-header {
  border: 2px solid white;
  border-radius: var(--border-radius-px);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-header);
  font-size: 2rem; /* 32px */
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

p {
  text-transform: none !important;
}

.about-hero, .mission, .values, .team, .cta {
  max-width: 850px;
  margin: 80px auto;
  text-align: center;
  padding: 0 20px;
}

.value-cards {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.value-cards .card {
  border: 1px solid #e9e9e9;
  border-radius: 12px;
  padding: 24px;
  width: 250px;
  background: #6BBFBF;
  transition: transform .3s ease;
}

.value-cards .card:hover {
  transform: translateY(-6px);
}

/* IMAGE */
.teacher-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 100px;
  margin: 0 auto 20px;
  display: block;
}

.button {
  display: inline-block;
  padding: 14px 28px;
  background-color: #011826; 
  color: #fff;               
  border: 2px solid #5E9ABF;    
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
}

.button:hover {
  background: #260101; 
  transform: translateY(-1px);
}

.small-button {
  background: none;
  color: #222;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px 18px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease;
}

.small-button:hover {
  border-color: black;
  color: black;
}

/* GRID */
.instructors-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
  margin-top: 28px;
  align-items: stretch; 
}

/* CARDS */
.instructor-card {
  border: 1px solid #e9e9e9;
  border-radius: 14px;
  padding: 24px;
  background: #fff;
  box-shadow: 0 2px 12px rgba(0,0,0,0.04);
  text-align: center;

  display: flex;              
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.role {
  margin-top: -6px;
  color: #666;
  font-size: 0.95rem;
}

/* Bio text */
.teacher-bio {
  margin: 12px 0 0;
  font-size: 0.95rem;
  color: #333;          
  line-height: 1.45;
  transition: all .2s ease;
}

.hidden { display: none !important; }


.toggle-bio {
  display: inline-block;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;   
  padding: 10px 18px; 
  width: 110px;       
  background-color: #011826;
  color: #fff;
  border: 0;
  border-radius: 6px;
  border: 2px solid #5E9ABF;    
  font-size: 0.9rem;
  cursor: pointer;
  transition: background .2s ease, transform .05s ease;
  text-align: center; 
  
}

.toggle-bio:hover { background: #260101; }
.toggle-bio:active { transform: translateY(1px); }


@media (max-width: 720px) {
  .instructors-grid {
    grid-template-columns: 1fr;
  }
}
