/* shared styles */

/* 1. Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* 2. Define Color Variables */
:root {
  --color-dark-blue: #011826;
  --color-bright-blue: #0f9bf2;
  --color-light-text: #fff;
  --color-steel-blue: #305368;
  --color-steel-blue-shadow: #14679b73;
  --color-teal: #6bbfbf;
  --color-dark-brown: #260101;
  --color-light-brown: #361919;
  --color-shadow-brown: #140c0c63;
  --font-header: "Alfa Slab One", serif;
  --font-body: "Montserrat", sans-serif;
  --font-body-light: "Roboto", sans-serif;
  --border-radius-px: 10px;
}

body {
  font-family: var(--font-body);
  color: #ffffff;
  background-color: var(--color-dark-blue);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  box-sizing: border-box;
}

.backgroundGradient {
  position: fixed;
  z-index: -100;
  top: 0;
  left: 0;

  /* background-image: url("/assets/vinilBackground.png");
  background-size: cover;
  background-repeat: no-repeat; */
  background: #011826;
  background: linear-gradient(
    172deg,
    rgba(1, 24, 38, 1) 0%,
    rgba(1, 24, 38, 1) 66%,
    rgba(38, 1, 1, 1) 100%
  );

  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  height: 80px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.01);
  border-radius: var(--border-radius-px);
  box-shadow: 0 1px 10px rgba();
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  border: 2px solid white;

  padding: 15px 30px;
  backdrop-filter: blur(10px);

  width: 100%;
  max-width: 1600px;
  margin: auto;
  margin-top: 16px;
  height: 100%;
  padding: 32px;
}

.labtune-border {
  border: 2px solid white;
}

#logoText {
  margin: 0;
  font-family: var(--font-header);
}
.header-links {
  display: flex;
  align-items: center;
}
.menu-list {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 24px;
  gap: 16px;
  /* background-color: red; */
  height: 100%;
}
.menu-item {
  list-style: none;
  cursor: pointer;
  position: relative;
  padding-bottom: 4px;
}

.menu-item::after {
  content: ""; /* Required to create the element */
  position: absolute; /* Position it relative to the .menu-item */
  border-radius: 50%;
  bottom: 0;
  left: 0;
  width: 100%; /* Make it the full width of the item */
  height: 2px; /* The thickness of the line */

  background-color: var(--color-light-text);

  transform: scaleX(0);
  transform-origin: bottom;
  transition: transform 0.3s ease-out;
}

/* On hover, scale the line back to 100% width */
.menu-item:hover::after {
  transform: scaleX(1);
}
/* HIDDEN MENU - Available on small screens */
#small-display-menu {
  display: none;
}

@media screen and (max-width: 1800px) {
  .header-nav {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .header-links {
    display: none;
  }
  #small-display-menu {
    display: block;
  }
}
